//VARIALBES
$offWhite: hsl(240, 78%, 98%);
$ltGray: hsl(234, 14%, 74%);
$mdGray: hsl(233, 13%, 49%);
$dkGray: hsl(232, 13%, 33%);
$gradient: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));


//SETUP 
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
}

html, body{ 
    height: 100%;
    width: 100%;
}

body{
    background-color: $offWhite;
    background-image: url("../Images/bg-top.svg");
    background-repeat: no-repeat;
    background-position: 55vw top;
    font-family: "Montserrat", sans-serif;
}

//FONTS
h1{
    color: $mdGray;
    font-size: 1.75rem;
}

label{
    color: $ltGray;
}

p{
    font-size: 15px;
}

//APP
.App{
    padding: 1.5rem;
}


@media screen and (min-width: 50rem) {
    body{ 
        background-image: url("../Images/bg-bottom.svg"), url("../Images/bg-top.svg");
        background-position: bottom left, top right;
    }
}